body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f0f0f0;
  color: #e4612e;
  height: 100vh;
  width: 100vw;
  position: relative;
  text-rendering: optimizeLegibility;
  --webkit-font-smoothing: antialiased;
  font-family: "Be Vietnam Pro", sans-serif;
}

section {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

h1 {
  font-size: 10vw;
  margin: 20px;
  line-height: 1;
}

h3 {
  font-size: 1.5rem;
  margin: 10px 20px 20px;
  line-height: 1.2;
  font-weight: normal;
}

p {
  text-align: center;
  font-size: 1.25rem;
  margin: 0 20px;
  color: rgb(53, 57, 53);
}

span {
  font-style: italic;
}

a {
  text-decoration: none;
  color: #e4612e;
}

a:hover {
  text-decoration: underline;
}

.portfolio-link {
  text-decoration: wavy underline;
}

figure {
  margin: 0;
  width: 60vw;
  position: relative;
  cursor: url("/public/fish_sauce_up.png") 25 25, pointer;
}

figure:active {
  cursor: url("/public/fish_sauce.png") 25 25, pointer;
}

figcaption {
  font-size: 2.5rem;
  font-weight: normal;
  text-shadow: 2px 2px rgb(53, 57, 53);
  position: fixed;
  text-align: center;
  z-index: 1;
  bottom: 0;
  color: #e4612e;
  margin: 0 auto;
  width: 50%;
  padding: 20px 0;
}

img {
  height: 100vh;
  object-fit: cover;
  position: fixed;
  width: 50%;
  opacity: 0;
  margin: 0;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 8px solid #e4612e;
}
.display {
  opacity: 1;
}

.hide {
  opacity: 0;
}

aside {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #e8e8e8;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

.loading-bar {
  display: grid;
  grid-row-gap: 12px;
}

progress {
  border: 1px solid #e4612e;
  height: 20px;
  width: 400px;
}

progress[value]::-webkit-progress-bar {
  background: #e8e8e8;
}

progress[value]::-webkit-progress-value {
  background: #e4612e;
}

@media (max-width: 800px) {
  section {
    flex-direction: column;
  }

  figure {
    flex-grow: 1;
    width: 100vw;
  }

  img {
    width: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.125rem;
    position: relative;
  }

  p {
    font-size: 1rem;
  }

  figcaption {
    font-size: 1.875rem;
    width: 100%;
  }

  .title {
    border-right: none;
  }
}
